*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    background-color: brown;
    background-color: black;
}

.page-1{
    width: 100%;
    height: 100vh;
    background-color: black; 
    position: relative;
    /* background-color: royalblue;  */
}
.nav{
    position: relative;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.brand{
    width: 8%;
    height: 100%;
    background-image: url('brandlogo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.nav-items{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.1rem;
}
.nav-items a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.813);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.page-1-content{
    width: 100%;
    height: 84%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.page-1 img{
    width: 100%;
    height: 100%;
    margin-left: -25%; 
}
#content{
    position: absolute;
    top: 15%;
    left: 43%;
    width: 55%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#content button{
    width: 20%;
    background-color: #c61100;
}
#content h1{
    width: 90%;
    color: white;
    text-align: center;
    font-size: 6rem;
    padding-bottom: 1rem;
    
    /* line-height: 0px; */
    font-family: sans-serif;
}
#content p{
    font-size: 1.3rem;
    /* width: 600px; */
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* 
.rotate{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 5px;
    top: 10px;
    background-image:  url('rotate1.jpg');
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */
.page-2{
    width: 100%;
    height: 90vh; 
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
       /* background-color: royalblue;  */
}
.page-2 h1{
    margin-top: 4rem;
    margin-bottom: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: #c61100;
    font-size: 4rem;
    font-weight: 800;
}
.page-2 p{
    width: 70%;
    text-align: center;
    color: #c61100;
    margin-bottom: 3rem;
}
#shef-info{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.shef-des{
    margin-top: 1.2rem;
    position: relative;
    width: 25%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shef-profile{
    width: 57%;
    height: 69%;
    border-radius: 50%;
    background-color: #c61100;
    margin-bottom: 1.5rem;
}
.name{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #c61100;
}
.prfsn{
    color: #c61100;
}
#shef1{
    background-image: url('https://i.pinimg.com/564x/6e/9f/32/6e9f321ccadb157f1eb94f379829632e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
#shef2{
    background-image: url('https://i.pinimg.com/564x/06/4b/3f/064b3f80aaf5fd9068999e995f0d57e1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
#shef3{
    background-image: url('https://i.pinimg.com/564x/20/84/22/2084220e18961fba23a26966b3cd95cd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.page-3{
    width: 100%;
    height: 100vh; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#c61100;
}
#page-3-img{
    width: 30%;
    height: 60%;
    border-radius: 50%;
    background-image: url('https://i.pinimg.com/564x/d9/6b/8f/d96b8f3c534d6d4ace16d69cd47e8596.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#page-3-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 60%;
}
#page-3-content button{
    position: relative;
    background-color: white;
    font-weight: 600;
    border: none;
    
}
#page-3-content p{
    width: 55%;
    height: 30%;
    margin-top: 20px;
    margin-bottom: 2rem;
    text-align: justify;
}
#page-3-content h1{
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    font-weight: 650;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}
#page-3-content h2{
    color: #c61100;
}

.page-4{
    width: 100%;
    height: 100vh; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#ffffff;
}
#page-4-img{
    width: 30%;
    height: 60%;
    border-radius: 50%;
    background-image: url('https://i.pinimg.com/564x/33/5f/45/335f45c42fc44ba0b52f0c1abe312fba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#page-4-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 60%;
}
#page-4-content button{
    position: relative;
    background-color: #c61100;
    font-weight: 600;
    border: none;
    
}
#page-4-content p{
    width: 55%;
    height: 30%;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    text-align: justify;
    color: #c61100;
}
#page-4-content h1{
    text-align: center;
    color:  #c61100;
    font-size: 3.5vw;
    font-weight: 650;
    margin-top: 1.8rem;
    margin-bottom: 20px;
}
#page-4-content h2{
    color: #ffffff;
}
.page-5{
    width: 100%;
    height: 90vh; 
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c61100;
       /* background-color: royalblue;  */
}
.page-5 h1{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
}
.page-5 p{
    width: 70%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2.5rem;
}
.scores-cards{
    height: 60%;
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}
.scores{
    width: 30%;
    height: 90%;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.scores h1{
    text-align: center;
    font-size: 7rem;
    font-weight: 800;

}
.scores p{
    font-size: 1.2rem;
    text-align: center;
}
.page-6{
    width: 100%;
    height: 90vh; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #ffffffd8;
}
.page-6 h1{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 800;
    color: #c61100;
}
.offers{
    width: 70%;
    height: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.offer-card{
    width: 28%;
    height: 90%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.offer-card h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #c61100;
}
.offer-card h5{
    color: #c61100;
    font-size: 1.3rem;
}
.pack-img{
    width: 50%;
    height: 40%;
    border-radius: 50%;

}
#pack-1{
    background-image: url('https://i.pinimg.com/564x/ab/79/fc/ab79fc0f866e839800a30aade1be74c1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#pack-2{
    background-image: url('https://i.pinimg.com/564x/1d/0d/4a/1d0d4aaa429c0ecde192576c4d4e97d3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#pack-3{
    background-image: url('https://i.pinimg.com/564x/a5/b0/34/a5b034120102141a6c3b9990a9f63ad5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.offer-card p{
    width: 90%;
    height: 20%;
    text-align: center;
    color: #c61100;

}
.offer-card button{
    width: 60%;
    height: 10%;
    background-color: #F25747;
    color: #ffffff;
    border: none;
    border-radius:  200px;
    text-transform: uppercase;
}
.page-7{
    width: 100%;
    height: 100vh; 
    position: relative;
    background-image: url('page-7\ .jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; */
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2584791;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay h1{
    font-size: 6rem;
}
.overlay p{
    width: 80%;
    height: 20%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
}
.page-8{
    width: 100%;
    height: 90vh; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 229, 208);
}
.page-8 h1{
    margin-top: 3rem;
    text-align: center;
    color: #c61100;
    font-weight: 700;
    font-size: 5rem;
}
.page-8 p{
    width: 90%;
    height: 10%;
    margin-top: 5rem;
    font-size: 1.2rem;
    text-align: center;
    color: #c61100;
}
.input{
    width: 80%;
    height: 20%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#email-ip{
    width: 50%;
    height: 2.5rem;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    padding: 1.4rem;

}
form button{
    background-color: #c61100;
    width: 8rem;
    height: 2.8rem;
    position: absolute;
    left: 75%;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-items{
    position: relative;
    width: 20%;
    height: 80%;
   
}
#footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.footer-items h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
#footer-para{
    width: 95%;
    height: 50%;
    text-align: justify;
}
.footer-items p{
    margin-top: 1rem;
    text-align: center;
}

.icons{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    width: 5rem;
    height: 5rem;
}
.icon i{
    font-size: 2.3rem;
}

/* multi css */
.btn{
    text-wrap: nowrap;
    width: 30%;
    height: 3rem;
    border-radius: 45px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    
}


